In [1]:
from __future__ import absolute_import
from __future__ import print_function
from __future__ import division

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import json
import re
import pickle

In [3]:
frame = pd.read_csv('../data/newsTitle.csv')

## save pickle

In [4]:
f = open('../data/newsTitle.pick', 'wb')
pickle.dump(frame, f)
f.close()

## load pickle

In [ ]:
f = open('../data/newsTitle.pick', 'rb')
frame = pickle.load(f)
f.close()

In [5]:
print (frame.shape)
frame.head(3)

(23881814, 6)

,title,href_naver,href_origin,actor,time,press
0,深層취재,http://news.naver.com/main/read.nhn?mode=LSD&m...,http://news.naver.com/main/read.nhn?mode=LSD&m...,BoA,1990.07.07,연합뉴스
1,걸프 장기전 경우 유가 2월에 40-50달러,http://news.naver.com/main/read.nhn?mode=LSD&m...,http://news.naver.com/main/read.nhn?mode=LSD&m...,BoA,1991.01.25,연합뉴스
2,스와프 자금 대출금리 속인 두은행 제재,http://news.naver.com/main/read.nhn?mode=LSD&m...,http://news.naver.com/main/read.nhn?mode=LSD&m...,BoA,1991.12.09,연합뉴스

## load actors

In [24]:
actors = pd.read_csv('../data/actor_type.csv')

In [26]:
print (actors.shape)
actors.head(3)

(8, 2)

  name  type
0  김태희    배우
1   공유    배우
2  이병헌    배우

In [15]:
def get_article(number):
    return frame.iloc[number].values

In [16]:
def get_articles(actor):
    return frame.loc[frame['actor'] == actor]

## extract href_naver

In [61]:
frames = []
for idx, actor in actors.iterrows():
    actor, engage = actor.values[:2]
    p = get_articles(actor)
    p.loc['type'] = engage
    frames.append(p)
    print (actor, engage)
docs = pd.concat(frames)

d:\develop\python\python35\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

김태희  배우
공유  배우
이병헌  배우
이혜리  가수
아이유  가수
유재석  개그맨
정유라  공인
박원순  정치인

In [60]:
print (docs.shape)
docs.head(3)

(1554916, 7)

,title,href_naver,href_origin,actor,time,press,type
3294759,-제2회경희대총장기 고교태권도-,http://sports.news.naver.com/general/news/read...,http://sports.news.naver.com/general/news/read...,김태희,1990.07.04,연합뉴스,배우
3294760,91학년도 체육특기자(한체대),http://sports.news.naver.com/general/news/read...,http://sports.news.naver.com/general/news/read...,김태희,1990.11.27,연합뉴스,배우
3294761,4월 미술전시 안내,http://news.naver.com/main/read.nhn?mode=LSD&m...,http://news.naver.com/main/read.nhn?mode=LSD&m...,김태희,1991.03.27,연합뉴스,배우

In [62]:
docs.to_csv('../data/actor_href.csv')

## Test

In [17]:
s = get_article(23381469)
print (s)

['교통사고 2건 3명 사망'
 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=001&aid=0003619379'
 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=001&aid=0003619379'
 '박원순' '1992.10.31' '연합뉴스']

In [18]:
p = get_articles('박원순')
print (p.shape)
p.head(3)

(230038, 6)

,title,href_naver,href_origin,actor,time,press
23381469,교통사고 2건 3명 사망,http://news.naver.com/main/read.nhn?mode=LSD&m...,http://news.naver.com/main/read.nhn?mode=LSD&m...,박원순,1992.10.31,연합뉴스
23381470,"""국제센터나 국제인권침해재판소 세워야""",http://news.naver.com/main/read.nhn?mode=LSD&m...,http://news.naver.com/main/read.nhn?mode=LSD&m...,박원순,1992.12.12,연합뉴스
23381471,유엔인권위 특별보좌관 반 보벤박사 방한,http://news.naver.com/main/read.nhn?mode=LSD&m...,http://news.naver.com/main/read.nhn?mode=LSD&m...,박원순,1992.12.05,연합뉴스

In [23]:
p.values[0]

array(['교통사고 2건 3명 사망',
       'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=001&aid=0003619379',
       'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=001&aid=0003619379',
       '박원순', '1992.10.31', '연합뉴스'], dtype=object)